@import "tailwindcss";

:root {
  --background: #f0e6d2;
  --foreground: #4a3f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-custom: 'crayon';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'crayon', Arial, Helvetica, sans-serif;
}

.readable-font {
  font-family: var(--font-sans);
}

@font-face {
  font-family: 'crayon';
  src: url('/fonts/crayon.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-size: 100%; 
  }
}